/BirdWatch*.iml
/BirdWatch.gradle
/BirdWatch/local.properties
/BirdWatch/.idea/caches
/BirdWatch/.idea/libraries
/BirdWatch/.idea/modules.xml
/BirdWatch/.idea/workspace.xml
/BirdWatch/.idea/navEditor.xml
/BirdWatch/.idea/assetWizardSettings.xml
.DS_Store
/BirdWatch/build
/BirdWatch/captures
/BirdWatch.externalNativeBuild
/BirdWatch.cxx
prediction.java
bird-model.pth
node_modules/